.env
.env-development
.env-production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/
packages/

# Optional npm cache directory
.npm

# Random crap
trash
.DS_Store
Thumbs.db
.sass-cache
.tmp
.rvmrc
.trashes
*~
.lock

# Editor
.vscode
.vscode-test
*.sublime-project
*.sublime-workspace
sftp-config.json

#project specific
capability-model-*.js
*.docx
*.drawio
scss/


#vendor, ignore everything except
vendor/
!*/vendor/bootstrap/dist/js/bootstrap.bundle.min.js
!*/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js
!*/vendor/jarallax/dist/jarallax.min.js
!*/vendor/swiper/swiper-bundle.min.js
!*/vendor/imagesloaded/imagesloaded.pkgd.min.js
!*/vendor/swiper/swiper-bundle.min.js