//
// user.scss
// Use this to write your custom SCSS
//

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  /*content:url(../../assets/img/cover/cover-dark-full.jpg) url(img2.png) url(img3.gif) url(img4.jpg);*/ // load images
  /*content:url(../../assets/img/cover/cover-dark-s.png) url(../../assets/img/cover/cover-s.png);*/
}

section.hero {
  background: url(../../assets/img/cover/cover-s.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

[data-bs-theme='dark'] section.hero {
  background-image: url(../../assets/img/cover/cover-dark-s.png) !important;
}

html h1 {
  color: $light;
}

[data-bs-theme='dark'] h1,
[data-bs-theme='dark'] h2,
[data-bs-theme='dark'] h3,
[data-bs-theme='dark'] h4,
[data-bs-theme='dark'] h5,
[data-bs-theme='dark'] h6 {
  color: $light !important;
}
[data-bs-theme='dark'] h1 {
  text-shadow: 0 0 5px #000;
}

[data-bs-theme='dark'] .btn-light,
[data-bs-theme='dark'] .btn-video {
  background-color: #1a242e;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.25);
}
[data-bs-theme='dark'] .btn-light:hover {
  background-color: #ffffff;
  color: #3e4265;
}

[data-bs-theme='dark'] .btn-outline-dark {
  border-color: #ffffff;
  color: #ffffff;
}
[data-bs-theme='dark'] .btn-outline-dark:hover {
  background-color: #ffffff;
  color: #3e4265;
}

.btn-scroll-next .btn-scroll-next-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s 
ease-in-out, visibility .25s 
ease-in-out;
    transform: translateY(-50%);
}

.btn-scroll-next:hover .btn-scroll-next-tooltip {
    visibility: visible;
    opacity: 1;
}

.navbar-expand-lg .offcanvas .offcanvas-body {
  display: flex !important;
}

a.brands {
  text-decoration: none;
}

span.client,
span.solution {
  text-align: center;
  color: $gray-600;
  text-decoration: none;
}

span.client {
  font-weight: bold;
  color: $gray-700;
}

[data-bs-theme='dark'] .card {
  background-color: #cccccc;
  color: rgba(255, 255, 255, 0.7);
}
[data-bs-theme='dark'] .contact-cta .text-dark {
  color: $dark !important;
}

[data-bs-theme='dark'] .dark {
  -webkit-filter: brightness(0) contrast(0.8);
  filter: brightness(0) contrast(0.8);
}

[data-bs-theme='dark'] .light {
  -webkit-filter: brightness(0) invert(0.7);
  filter: brightness(0) invert(0.7);
}

[data-bs-theme='dark'] .bg-dark {
  background-color: rgb(35, 45, 54) !important;
}

.btn-primary {
  color: $dark !important;
  background-color: $primary;
  border-color: $primary;
  box-shadow: unset;
}

.ss-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

nav[data-toggle='toc'] {
  top: 42px;
}

nav[data-toggle='toc'] .nav > li > a,
nav[data-toggle='toc'] .nav > li > a:focus,
nav[data-toggle='toc'] .nav > li > a:hover,
nav[data-toggle='toc'] .nav-link.active,
nav[data-toggle='toc'] .nav-link.active:focus,
nav[data-toggle='toc'] .nav-link.active:hover {
  color: var(--si-body-color);
  border: none;
  padding-left: 5px;
}

caption {
  background-color: #000;
  color: #ffffff;
}

svg {
  width: 100%;
  height: auto;
}

/* BoxIcons */

.bx{
  min-width: 20px;
  min-height: 20px;
  
}

.bxl-twitter-x {
  background: url('/assets/img/icons/twitter-x.svg') no-repeat center center;
  background-size: contain; 
}
 [data-bs-theme='dark'] .bxl-twitter-x {
  background: url('/assets/img/icons/twitter-x-white.svg') no-repeat center center;
}


/* Fine-tune back-to-top icon centering */
:root {
  --scroll-top-icon-translate-x: 10px; /* global X offset */
  --scroll-top-icon-translate-y: 10px; /* global Y offset */
}

.btn-scroll-top .btn-scroll-top-icon {
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-weight: 400; /* avoid bold shifting glyph metrics */
  transform: translate(
    var(--scroll-top-icon-translate-x),
    var(--scroll-top-icon-translate-y)
  );
}

/* Filter Content */

.filter {
  display: none; /* Hidden by default */
}
.show {
  display: block;
}
.selected {
  background-color: #666 !important;
  color: white !important;
  font-weight: normal !important;
}

span.wip {
  float: right;
  padding: 2px 5px;
  background-color: #ffb347;
  color: #000;
  font-size: 12px;
  font-style: italic;
  border-bottom-left-radius: 10px;
}

.rotate {
  transform-origin: left bottom 0;
  transform: rotate(-90deg);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.btn-group-toggle > .btn input[type='checkbox'],
.btn-group-toggle > .btn input[type='radio'],
.btn-group-toggle > .btn-group > .btn input[type='checkbox'],
.btn-group-toggle > .btn-group > .btn input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

/* blog single content */

.bg-gray {
  background-color: $gray !important;
}
.bg-blue{
  background-color: $blue !important;
}
.bg-green{
  background-color: $green !important;
}
.bg-green-blue{
  background: linear-gradient(90deg, $green 20%, $blue 80%) !important;
}
.bg-yellow{
  background-color: $yellow !important;
}
.bg-blue-green{
  background: linear-gradient(90deg, $blue 20%, $green 80%) !important;
}
.bg-yellow-green{
  background: linear-gradient(90deg, $yellow 20%, $green 80%) !important;
}
.bg-yellow-blue{
  background: linear-gradient(90deg, $yellow 20%, $blue 80%) !important;
}


@include media-breakpoint-down(md) {
  /* X-Small devices (portrait phones, less than 576px) */

  section.hero {
    background-attachment: local;
    background-position: 65%;
  }
  html section.hero {
    background-image: url(../../assets/img/cover/cover-xxl.jpg) !important;
    /*background-image: url('https://dummyimage.com/576x324') !important;*/
  }

  [data-bs-theme='dark'] section.hero {
    background-image: url(../../assets/img/cover/cover-dark-xxl.jpg) !important;
  }

  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
}

/* Hide published date on mobile */
@include media-breakpoint-down(sm) {
  /* Hide meta row (badge + dates) in cards on mobile */
  .card-body > .d-flex.align-items-center {
    display: none !important;
  }

  [itemprop='datePublished'] {
    display: none !important;
  }

  /* Place modified date on its own line below the badge */
  [itemprop='dateModified'] {
    order: 1;
    flex: 0 0 100%;
    padding-left: 0 !important;
    margin-left: 0 !important;
    border: 0 !important;
    margin-top: 0.25rem;
    display: block;
  }

  /* Allow wrapping inside the meta row so items can break lines */
  .card-body > .d-flex.align-items-center {
    flex-wrap: wrap;
  }

  /* Tidy the badge spacing when it sits above the modified date */
  .card-body > .d-flex.align-items-center > .badge {
    margin-bottom: 0.25rem;
  }
}

@include media-breakpoint-up(md) {
  /*  Small devices (landscape phones, portrait tablets, 576px and up) */
  html section.hero {
    background-image: url(../../assets/img/cover/cover-xxl.jpg) !important;
    /*background-image: url('https://dummyimage.com/768x432') !important;*/
    background-attachment: local;
  }

  [data-bs-theme='dark'] section.hero {
    background-image: url(../../assets/img/cover/cover-dark-xxl.jpg) !important;
    background-attachment: local;
  }

  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .display-2 {
    font-size: $font-size-base * 2.5;
  }
}

@include media-breakpoint-up(lg) {
  /*  Medium devices (landscape tablets, 768px and up) */
  html section.hero {
    background-image: url(../../assets/img/cover/cover-xxl.jpg) !important;
    /*background-image: url('https://dummyimage.com/992x558') !important;*/
  }

  [data-bs-theme='dark'] section.hero {
    background-image: url(../../assets/img/cover/cover-dark-xxl.jpg) !important;
  }
}

@include media-breakpoint-up(xl) {
  /*  Large devices (desktops, 992px and up) */
  html section.hero {
    background-image: url(../../assets/img/cover/cover-xxl.jpg) !important;
    /*background-image: url('https://dummyimage.com/1200x675') !important;*/
  }

  [data-bs-theme='dark'] section.hero {
    background-image: url(../../assets/img/cover/cover-dark-xxl.jpg) !important;
  }
}

@include media-breakpoint-up(xxl) {
  /*  X-Large devices (large desktops, 1200px and up) */
  html section.hero {
    background-image: url(../../assets/img/cover/cover-xxl.jpg) !important;
    /*background-image: url('https://dummyimage.com/1400x16:9') !important;*/
  }

  [data-bs-theme='dark'] section.hero {
    background-image: url(../../assets/img/cover/cover-dark-xxl.jpg) !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-only {
    display: block !important;
  }
  .container {
    width: auto;
  }
}
